.page{
     display: grid; 
     grid-template-columns: 3fr 1fr;
     margin: 30px;

}

.header-title{
     text-align: left;
}

.item-set{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     
}

.header-logo {
     display: flex;
     align-items: center;
}

.header-logo img{
     height: 50px;
     width: 50px;
     border-radius: 50%;
     margin-right: 10px;
     
}



@media only screen and (max-width: 750px) {
     
     .page{
          display: grid; 
          grid-template-columns: 1fr;
     }

     .item-set{
          display: grid;
          grid-template-columns: 1fr;
          gap: 10px;
          margin-bottom: 30px;
     }

   }


   @media only screen and (min-width: 751px ) and (max-width: 999px){
  
     .page{
          display: grid; 
          grid-template-columns: 2fr 1fr;
     }

     .item-set{
          display: grid;
          grid-template-columns:  repeat(2, 1fr);
          gap: 10px;
          margin-bottom: 30px;
     }
   }


